<img style="float: left; padding-right: 20px; width: 70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/1920px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png"> 

**Pontificia Universidad Católica de Chile**<br>
**Semestre 2021-2**<br>
**Profesora:** Paula Aguirre <br>

----
<div style="background-color:#fffff;">
    <br>
    <p style="text-align:center;font-family:Times New Roman;color:black;font-size:20pt;font-weight:bold;margin:20px">
        Introducción a la Ciencia de Datos: Proyecto Final
    </p>
    <p style="text-align:center;font-family:Times New Roman;color:black;font-size:20pt;font-weight:bold;margin:20px">
        Influencia de los factores sociales y económicos en la proyección de la
delincuencia.
    </p>
    <p style="text-align:center;font-family:Times New Roman;color:black;font-size:12pt;font-weight:bold;margin:20px">
        <br>Cristóbal Cancino - cristobal.cancinob@uc.cl</br>
        <br>Diego Rodríguez - drodrguez@uc.cl</br>
        <br>Benjamín Prieto - bprietz@uc.cl</br>
        <br>Larry Uribe - larry@uc.cl</br>
        <br>14 de diciembre de 2021
        <br><br><b>Tiempo de ejecución aproximado:</b> x minutos.
    </p>
    <br><br>
</div>

In [12]:
import pandas as pd
import requests 
import os
import io, zipfile

In [13]:
#Cargar archivos (I) : Data sobre denuncias de crimen de mayor connotación social.

link_denuncias = 'http://cead.spd.gov.cl/centro-de-documentacion/?wpdmpro=estadisticas-anuales-delitos-de-mayor-connotacion-social-dmcs-base-censo-2017&wpdmdl=3047&'
rdenuncias = requests.get(link_denuncias, stream = True)

# Revisar el tema de la sesion para las cookies
link_educacion = 'http://datos.mineduc.cl/datasets/193132-bd-sned-2018-2019.download/'
reducacion = requests.get(link_denuncias, stream = True)


link_pobreza = 'http://observatorio.ministeriodesarrollosocial.gob.cl/storage/docs/pobreza-comunal/2017/PLANILLA_Estimaciones_comunales_tasa_pobreza_por_ingresos_multidimensional_2017.xlsx'
#rpobreza = requests.get(link_denuncias, stream = True)

#Se necesita crear la carpeta para almacenar los archivos de datos.
#exist_ok permite evitar errores derivados de la ya-existencia de la carpeta.
ruta_educacion = os.path.join('Data', 'Educacion')
ruta_delitos = os.path.join('Data', 'Delitos')

os.makedirs(ruta_educacion, exist_ok = True)
os.makedirs(ruta_delitos, exist_ok = True)

#Descompresión del archivo necesario de todo el ZIP
z = zipfile.ZipFile(io.BytesIO(rdenuncias.content))
z.extractall(path=ruta_delitos, members=['Frecuencia Anual_DENUNCIA.xlsx'] )


#guarda en el disco archivo en el directorio
#open(ruta_ach,'wb').write(r.content)



#Leer archivo local previamente guardado en un DataFrame con delimitador ","
#dat1=pd.read_csv('Covid-19.csv',delimiter=',')

#ruta_arch = os.path.join(ruta_educacion, 'PLANILLA_Estimaciones_comunales_tasa_pobreza_por_ingresos_multidimensional_2017.xlsx')
#with open(ruta_arch, 'wb') as establecimientos_2021:
#    establecimientos_2021.write(r.content)

In [15]:

data_pobreza = pd.read_excel(link_pobreza, sheet_name = 'Multidimensional 2017', engine='openpyxl')
data_pobreza

,"Estimaciones de Tasa de Pobreza Multidimensional por Comuna, Aplicación de Metodologías de Estimación para Áreas Pequeñas (SAE), 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Código,Región,Nombre comuna,Número de personas en situación de pobreza mul...,Porcentaje de personas en situación de pobreza...,Límite inferior,Límite superior,Metodología de Estimación
2,1101,I de Tarapacá,Iquique,33283,0.197384,0.180161,0.216825,SAE
3,1107,I de Tarapacá,Alto Hospicio,33108,0.275451,0.257526,0.290994,SAE
4,1401,I de Tarapacá,Pozo Almonte,6581,0.388117,0.336295,0.489958,SAE
...,...,...,...,...,...,...,...,...
342,16301,XVI de Ñuble,San Carlos,13125,0.274953,0.23611,0.315939,SAE
343,16302,XVI de Ñuble,Coihueco,5809,0.272518,0.22683,0.364035,SAE
344,16303,XVI de Ñuble,Ñiquén,2449,0.307642,0.24097,0.368872,SAE
345,16304,XVI de Ñuble,San Fabián,1012,0.324316,0.272886,0.397601,SAE
346,16305,XVI de Ñuble,San Nicolás,3310,0.349656,0.313233,0.441853,SAE

In [16]:
data_educacion = pd.read_csv(link_educacion, delimiter = ';')
data_educacion

,RBD,DV_RBD,NOM_RBD,RBD_A1,RBD_A2,COD_DEPE,COD_DEPE2,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,...,SUPERAR,INICIAR,MEJORAR,INTEGRAR,IGUALDR,CLUSTER,INDICER,SEL2018_25,SEL2018_35,SEL
0,1,9,LICEO POLITECNICO ARICA,,,2,1,15,151,15101,...,"60,6666808420415","82,7818181818182",50,"64,9166666666667","89,0657124147726",1532,"57,0321656510133",2,2,3
1,2,7,PARVULARIO LAS ESPIGUITAS,,,2,1,15,151,15101,...,"61,8948455474666",0,100,0,"94,5131166035536",1512,"57,2574005472823",2,2,3
2,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,,,2,1,15,151,15101,...,"62,572863863356",0,100,0,"89,9330063340456",1521,"56,0607554545573",2,2,3
3,4,3,LICEO OCTAVIO PALMA PEREZ,,,2,1,15,151,15101,...,"59,2734294365473","93,77",100,"91,6666666666667","96,5992578768044",1532,"70,5080950909242",2,2,3
4,5,1,JOVINA NARANJO FERNANDEZ,,,2,1,15,151,15101,...,"59,1221445752656","97,19","87,5","67,5833333333333","95,7707792670557",1532,"69,8253197490553",2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11020,40453,5,ESCUELA ESPECIAL DE LENGUAJE MANQUEHUE,,,3,2,10,101,10102,...,,0,"87,5",0,"92,5035423889827",1051,"63,1450841695085",2,2,3
11021,40455,1,COLEGIO PATAGONIA INSULAR,,,3,2,10,102,10201,...,"62,2196582447109",0,100,0,"93,6995023722194",1033,"52,8789841507164",2,2,3
11022,40457,8,LICEO TECNICO PROFESIONAL PABLO NERUDA,,,3,2,10,102,10201,...,"62,5665691222608",0,75,0,"89,3825758263535",1033,"50,7557007637481",2,2,3
11023,40458,6,ESCUELA DE LENGUAJE MOMENTOS PRECIOSOS,,,3,2,1,11,1101,...,,0,100,0,"92,5035423889827",151,"63,8593699195085",2,2,3
11024,40459,4,CENTRO EDUCACIONAL ALBORADA,,,3,2,10,102,10202,...,"61,7386222671609","82,6",100,"75,8333333333333","94,2526224381631",1013,"66,2316863646896",2,1,2

In [3]:
#El archivo a ocupar para los delitos lleva por nombre 'Frecuencia Anual_DENUNCIA'. 


path_denuncias = os.path.join('Data', 'Delitos', 'Frecuencia Anual_DENUNCIA.xlsx')
data_denuncias = pd.read_excel(path_denuncias, sheet_name = None)
columnas_denuncias = data_denuncias.keys()

In [50]:
data_total_dmcs = data_denuncias['TOTAL_DMCS']
data_total_dmcs = data_total_dmcs[1:]
data_total_dmcs.columns = data_total_dmcs.iloc[1]
data_total_dmcs = data_total_dmcs[data_total_dmcs['UN_ADMIN'] == 'COMUNA'] 
data_total_dmcs = data_total_dmcs[['UNIDAD', 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0]]
#revisar como eliminar el header del index
data_total_dmcs.reset_index(level=0, inplace=True, drop=True)
data_total_dmcs.rename(columns={'UNIDAD': 'Comuna', 2011.0: '2011', 2012.0: '2012', 2013.0: '2013', 2014.0: '2014', 2015.0: '2015', 2016.0: '2016', 2017.0: '2017', 2018.0: '2018', 2019.0: '2019', 2020.0: '2020'}, inplace=True)
data_total_dmcs

2,Comuna,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Arica,5750.0,5675.0,5524.0,5127.0,4735.0,4859.0,4303.0,4744.0,5244.0,3953.0
1,Camarones,29.0,34.0,28.0,24.0,19.0,21.0,15.0,24.0,27.0,23.0
2,General Lagos,8.0,3.0,5.0,8.0,10.0,10.0,8.0,7.0,7.0,5.0
3,Putre,30.0,30.0,28.0,34.0,34.0,25.0,27.0,21.0,30.0,14.0
4,Alto Hospicio,3597.0,3581.0,3288.0,2843.0,2924.0,2935.0,2858.0,2640.0,3005.0,2406.0
...,...,...,...,...,...,...,...,...,...,...,...
341,Porvenir,92.0,107.0,74.0,77.0,85.0,114.0,70.0,87.0,83.0,82.0
342,Primavera,15.0,13.0,9.0,16.0,18.0,8.0,6.0,16.0,7.0,13.0
343,Timaukel,5.0,6.0,1.0,1.0,1.0,1.0,2.0,4.0,2.0,4.0
344,Natales,380.0,413.0,352.0,361.0,363.0,354.0,285.0,258.0,249.0,162.0
345,Torres del Paine,17.0,13.0,8.0,17.0,22.0,17.0,13.0,14.0,14.0,7.0

In [41]:
# Cargar archivos (II) : Información varía sobre comunas.
link_info_comunal = "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/Otros/InformacionComunas.csv"
#r = requests.get(link_info_comunal, stream=True)
data_comunas = pd.read_csv(link_info_comunal)
data_comunas.head()

,Region,Codigo region,Comuna,Codigo comuna,Superficie_km2,Poblacion
0,Tarapacá,1,Iquique,1101,2289.53,223463.0
1,Tarapacá,1,Alto Hospicio,1107,571.19,129999.0
2,Tarapacá,1,Pozo Almonte,1401,13765.80,17395.0
3,Tarapacá,1,Camiña,1402,2199.83,1375.0
4,Tarapacá,1,Colchane,1403,4007.84,1583.0

In [6]:
# Cargar archivos (III) : Información plan paso a paso
link_pap = 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/Paso_a_paso/paso_a_paso.csv'
#r = requests.get(link_pap, stream = True)
data_pap = pd.read_csv(link_pap)
data_pap.head()

,codigo_region,region_residencia,codigo_comuna,comuna_residencia,zona,2020-07-28,2020-07-29,2020-07-30,2020-07-31,2020-08-01,...,2021-11-15,2021-11-16,2021-11-17,2021-11-18,2021-11-19,2021-11-20,2021-11-21,2021-11-22,2021-11-23,2021-11-24
0,15,Arica y Parinacota,15101,Arica,Rural,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,15,Arica y Parinacota,15101,Arica,Urbana,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
2,15,Arica y Parinacota,15102,Camarones,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
3,15,Arica y Parinacota,15202,General Lagos,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4
4,15,Arica y Parinacota,15201,Putre,Total,3,3,3,3,3,...,4,4,4,4,4,4,4,4,4,4

In [57]:
# Cargar archivos (IV) : Información sobre natalidad
# Obtendremos varios archivos que contienen información anual
#links_natalidad = {2019:'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Nacimientos/Nacimientos_2019-01-01_2019-12-31_DO.csv',
#                  2020:'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Nacimientos/Nacimientos_2020-01-01_2020-12-31_DO.csv',
#                   2018:'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Nacimientos/Nacimientos_2018-01-01_2018-12-31_DO.csv'}


datas_natalidad = dict()

for ano in range(2011, 2021):
    link_natalidad_p = "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Nacimientos/Nacimientos_"+str(ano)+"-01-01_"+str(ano)+"-12-31_DO.csv"
    datas_natalidad[ano] = pd.read_csv(link_natalidad_p)
    
datas_natalidad[2018]

,Region,Codigo region,Comuna,Codigo comuna,Nacimientos,Fecha
0,Tarapacá,1,Iquique,1101,29,2018-01-02
1,Tarapacá,1,Iquique,1101,29,2018-01-03
2,Tarapacá,1,Iquique,1101,18,2018-01-04
3,Tarapacá,1,Iquique,1101,18,2018-01-05
4,Tarapacá,1,Iquique,1101,31,2018-01-08
...,...,...,...,...,...,...
19373,La Araucanía,9,Victoria,9211,2,2018-12-24
19374,La Araucanía,9,Victoria,9211,7,2018-12-26
19375,La Araucanía,9,Victoria,9211,6,2018-12-27
19376,La Araucanía,9,Victoria,9211,7,2018-12-28
19377,La Araucanía,9,Victoria,9211,6,2018-12-31

In [61]:
datas_natalidad[2014]

,Region,Codigo region,Comuna,Codigo comuna,Nacimientos,Fecha
0,Tarapacá,1,Iquique,1101,31,2014-01-02
1,Tarapacá,1,Iquique,1101,19,2014-01-03
2,Tarapacá,1,Iquique,1101,27,2014-01-06
3,Tarapacá,1,Iquique,1101,22,2014-01-07
4,Tarapacá,1,Iquique,1101,14,2014-01-08
...,...,...,...,...,...,...
21260,La Araucanía,9,Victoria,9211,4,2014-12-24
21261,La Araucanía,9,Victoria,9211,4,2014-12-26
21262,La Araucanía,9,Victoria,9211,9,2014-12-29
21263,La Araucanía,9,Victoria,9211,5,2014-12-30
21264,La Araucanía,9,Victoria,9211,2,2014-12-31

In [8]:
#Cargar archivos (V) : Información sobre acceso a la salud
#Para medir el acceso a la salud solo se considerará la información actualizada al 2021, por el acceso a los datos;
#Y también por la poca variabilidad del nivel de hospitales

link_salud = 'https://repositoriodeis.minsal.cl/DatosAbiertos/Establecimientos_ChileDEIS_MINSAL%2029-10-2021.xlsx'
data_salud = pd.read_excel(link_salud, sheet_name = None)
data_salud = data_salud['Establecimientos V']

In [9]:
header_row = 1 
data_salud.columns = data_salud.iloc[header_row]
data_salud.head()

1,26-216,126216,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,12,SEREMI De Magallanes y la Antártica Chilena,No Perteneciente,Centro de Salud,...,NO,No Aplica,No Aplica,-54.93672,-67.61514,Privado,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN
0,Código Antiguo,Código Vigente,Código Madre,Código Nuevo Madre,Código Región,Nombre Región,Código Dependencia Jerárquica (SEREMI / Servic...,Dependencia Jerárquica (SEREMI / Servicio de S...,Pertenencia al SNSS,Tipo Establecimiento,...,Tiene Servicio de Urgencia,Tipo de Urgencia,Tipo de SAPU,LATITUD [Grados decimales],LONGITUD [Grados decimales],Tipo de Prestador Sistema de Salud,Estado de Funcionamiento,Nivel de Complejidad,Modalidad de Atención,NaN
1,26-216,126216,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,12,SEREMI De Magallanes y la Antártica Chilena,No Perteneciente,Centro de Salud,...,NO,No Aplica,No Aplica,-54.93672,-67.61514,Privado,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN
2,26-704,126704,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Hospital,...,SI,Urgencia Hospitalaria (UEH),No Aplica,-54.935209,-67.600393,Público,Vigente en operación,Baja Complejidad,Atención Cerrada-Hospitalaria,NaN
3,26-204,126204,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Hospital,...,SI,Urgencia Hospitalaria (UEH),No Aplica,-54.934374,-67.608895,Pendiente,Vigente en operación,Mediana Complejidad,Atención Cerrada-Hospitalaria,NaN
4,26-412,126412,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Posta de Salud Rural (PSR),...,NO,No Aplica,No Aplica,-53.640546,-69.645848,Público,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN

In [10]:
#Cargar archivos (VI): Información sobre la mortalidad.

links_mortalidad = {2019:'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Defunciones/Defunciones_2019-01-01_2019-12-31_DO.csv',
                  2020:'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Defunciones/Defunciones_2020-01-01_2020-12-31_DO.csv',
                   2018:'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Defunciones/Defunciones_2018-01-01_2018-12-31_DO.csv' }

datas_mortalidad = dict()

for ano in range(2018, 2021):
    datas_mortalidad[ano] = pd.read_csv(links_mortalidad[ano])

datas_mortalidad[2018]

,Region,Codigo region,Comuna,Codigo comuna,Defunciones,Fecha
0,Tarapacá,1,Iquique,1101,11,2018-01-02
1,Tarapacá,1,Iquique,1101,5,2018-01-03
2,Tarapacá,1,Iquique,1101,5,2018-01-04
3,Tarapacá,1,Iquique,1101,4,2018-01-05
4,Tarapacá,1,Iquique,1101,11,2018-01-08
...,...,...,...,...,...,...
35566,La Araucanía,9,Victoria,9211,2,2018-12-21
35567,La Araucanía,9,Victoria,9211,3,2018-12-24
35568,La Araucanía,9,Victoria,9211,2,2018-12-26
35569,La Araucanía,9,Victoria,9211,1,2018-12-28
35570,La Araucanía,9,Victoria,9211,3,2018-12-31

In [11]:
#ESTA PARTE ESTÁ INCOMPLETA. COMPLETAR EL 25-11.
linkazo = 'http://datos.mineduc.cl/datasets/196387-directorio-de-establecimientos-2021.download/'
#headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36',
          #'Cookie':'_ga=GA1.2.377815330.1633997856; _hjid=bfe9d992-da76-49cd-a7a3-6c82b7d655c7; fpestid=xtL6ZQONtwqONtIca9x4o2WAPNfqzeiJaYoZp7J0OmqM_eJwGYVkPPc_OE1nj86MiKnffA; __utmz=212104321.1634046891.2.2.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=(not provided); _gid=GA1.2.1117445521.1637702821; __utma=212104321.377815330.1633997856.1634310102.1637702823.5; __utmc=212104321; _hjSessionUser_667338=eyJpZCI6IjI2MGZiYzk0LTI2ZjItNTI5My05NDNiLTBhMjFlYTM2YWU1YiIsImNyZWF0ZWQiOjE2Mzc3MDI4MjEzNzAsImV4aXN0aW5nIjp0cnVlfQ==; _hjSession_667338=eyJpZCI6IjlkZTdkNDJmLTUyNTEtNGI2NS1iNmE0LWU5YmQwYzAzODA4YSIsImNyZWF0ZWQiOjE2Mzc3MDI4MjMxNzR9; _hjAbsoluteSessionInProgress=0; __utmt=1; __utmb=212104321.2.10.1637702823; _hjIncludedInPageviewSample=1'}
r = requests.get(linkazo)#, headers = headers)
print (r.status_code)

session = requests.Session()

403