<img style="float: left; padding-right: 20px; width: 70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/1920px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png"> 

**Pontificia Universidad Católica de Chile**<br>
**Semestre 2021-2**<br>
**Profesora:** Paula Aguirre <br>

----
<div style="background-color:#fffff;">
    <br>
    <p style="text-align:center;font-family:Times New Roman;color:black;font-size:20pt;font-weight:bold;margin:20px">
        Introducción a la Ciencia de Datos: Proyecto Final
    </p>
    <p style="text-align:center;font-family:Times New Roman;color:black;font-size:20pt;font-weight:bold;margin:20px">
        Influencia de los factores sociales y económicos en la proyección de la
delincuencia.
    </p>

## Integrantes:
        **Cristóbal Cancino - cristobal.cancinob@uc.cl**
        Diego Rodríguez - drodrguez@uc.cl
        Benjamín Prieto - bprietz@uc.cl
        Larry Uribe - larry@uc.cl
        
        14 de diciembre de 2021
        Tiempo de ejecución aproximado: x minutos.


## El proyecto se divide en 7 etapas: 

1. Extracción de datos
        data_total_dmcs -> Delito
        data_educacion -> calidad educacion
        data_pobreza -> indicadores de pobreza
        data_comunas -> info de comunas
        data_natalidad -> info de natalidad (diccionario por años) 
        data_mortalidad -> info de mortalidad (diccionario por años)
        data_salud -> establecimientos MINSAL (mirar años)


2. Limpieza de datos

3. Procesamiento y transformación

4. Analisis exploratorio

5. Aprendizaje supervisado
        regresiones multilineal, ridge, lasso -> a predecir el total_dmcs

6. Aprendizaje no supervisado
        aplicaremos kmeans sobre mapa de chile o santiago (definir comunas) (puede ser uno  por pais y region, y otro por comunas de santiago)

7. Conclusiones y visualizaciones al cierre.

## 1. Extraccion de datos:

In [1]:
import pandas as pd
import urllib.request
import requests 
import os
import io, zipfile

In [2]:
#Cargar archivos (I) : Data sobre denuncias de crimen de mayor connotación social.

link_denuncias = 'http://cead.spd.gov.cl/centro-de-documentacion/?wpdmpro=estadisticas-anuales-delitos-de-mayor-connotacion-social-dmcs-base-censo-2017&wpdmdl=3047&'
rdenuncias = requests.get(link_denuncias, stream = True)

#Se necesita crear la carpeta para almacenar los archivos de datos.
#exist_ok permite evitar errores derivados de la ya-existencia de la carpeta.
ruta_delitos = os.path.join('Data')
os.makedirs(ruta_delitos, exist_ok = True)

#Descompresión del archivo necesario de todo el ZIP
z = zipfile.ZipFile(io.BytesIO(rdenuncias.content))
z.extractall(path=ruta_delitos, members=['Frecuencia Anual_DENUNCIA.xlsx'] )

#Crea dataframe
path_denuncias = os.path.join('Data', 'Frecuencia Anual_DENUNCIA.xlsx')
data_total_dmcs = pd.read_excel(path_denuncias, sheet_name = 'TOTAL_DMCS')
#columnas_denuncias = data_denuncias.keys()

# Carga archivos (II) : Data de calidad de educación.


opener = urllib.request.build_opener()
opener.addheaders = [('User-Agent', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.93 Safari/537.36')]
urllib.request.install_opener(opener)
link_educacion = urllib.request.urlretrieve('https://junar-selfpub-storage.s3.amazonaws.com/0705/50931/140196801712254783814864722173348825596?response-content-disposition=attachment%3B%20filename%3D%2220181218_SNED_2018_2019.csv%22&AWSAccessKeyId=AKIAI652OHJ6H2VI25OA&Expires=1639001804&Signature=RyBfDKkjRkREtF%2FHzW86qehsMZE%3D')



#url = 'http://datos.mineduc.cl/datasets/193132-bd-sned-2018-2019.download'
#user_agent = 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/535.19 (KHTML, like Gecko) Ubuntu/12.04 Chromium/18.0.1025.168 Chrome/18.0.1025.168 Safari/535.19'
#u = urlopen(Request(url, headers={'User-Agent': user_agent}))


data_educacion = pd.read_csv(link_educacion[0], delimiter = ';')

# Carga archivos (III): Data de indicador pobreza

link_pobreza = 'http://observatorio.ministeriodesarrollosocial.gob.cl/storage/docs/pobreza-comunal/2017/PLANILLA_Estimaciones_comunales_tasa_pobreza_por_ingresos_multidimensional_2017.xlsx'
data_pobreza = pd.read_excel(link_pobreza, sheet_name = 'Multidimensional 2017', engine='openpyxl')

# Cargar archivos (IV) : Información varía sobre comunas.
link_info_comunal = "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/Otros/InformacionComunas.csv"
data_comunas = pd.read_csv(link_info_comunal)

# Cargar archivos (V) : Información sobre natalidad se genera dinamicamente lista de archivos
datas_natalidad = dict()

for ano in range(2011, 2021):
    link_natalidad_p = "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Nacimientos/Nacimientos_"+str(ano)+"-01-01_"+str(ano)+"-12-31_DO.csv"
    datas_natalidad[ano] = pd.read_csv(link_natalidad_p)
    
# Cargar archivos (VI): Información sobre la mortalidad. se carga dinamico por año

datas_mortalidad = dict()

for ano in range(2011, 2021):
    link_mortalidad_p = "https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/RegistroCivil/Defunciones/Defunciones_"+str(ano)+"-01-01_"+str(ano)+"-12-31_DO.csv"
    datas_mortalidad[ano] = pd.read_csv(link_mortalidad_p)

# Cargar archivos (VII) : Información sobre acceso a la salud
# Para medir el acceso a la salud solo se considerará la información actualizada al 2021, por el acceso a los datos;
# Y también por la poca variabilidad del nivel de hospitales

link_salud = 'https://repositoriodeis.minsal.cl/DatosAbiertos/Establecimientos_ChileDEIS_MINSAL%2029-10-2021.xlsx'
data_salud = pd.read_excel(link_salud, sheet_name = 'Establecimientos V')

In [3]:
link_educacion

('C:\\Users\\Larry\\AppData\\Local\\Temp\\tmpmu0y3q_5',
 <http.client.HTTPMessage at 0x289bff0f550>)

## 2. Limpieza de datos:

In [4]:
# Conjunto de datos I: Delitos de mayor connotación social
display(data_total_dmcs.head())
display(data_total_dmcs.info())

,FRECUENCIA DE DENUNCIA POR DELITOS DE MAYOR CONNOTACIÓN SOCIAL,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,SEGÚN UNIDAD TERRITORIAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ORDEN,UN_ADMIN,UNIDAD,Año,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
3,1,PAÍS,TOTAL PAÍS,NaN,407005.0,409098.0,442726.0,455105.0,489197.0,475264.0,519195.0,473417.0,479315.0,496118.0,482585.0,455129.0,450554.0,438216.0,447654.0,321846.0
4,2,REGION,Región de Arica y Parinacota,NaN,3845.0,3978.0,3674.0,4151.0,4949.0,5148.0,5817.0,5742.0,5585.0,5193.0,4798.0,4915.0,4353.0,4796.0,5308.0,3995.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 20 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   FRECUENCIA DE DENUNCIA POR DELITOS DE MAYOR CONNOTACIÓN SOCIAL  423 non-null    object
 1   Unnamed: 1                                                      422 non-null    object
 2   Unnamed: 2                                                      422 non-null    object
 3   Unnamed: 3                                                      1 non-null      object
 4   Unnamed: 4                                                      422 non-null    float64
 5   Unnamed: 5                                                      422 non-null    float64
 6   Unnamed: 6                                                      422 non-null    float64
 7   Unnamed: 7                                                      422 non-null    float64
 8   Unnamed: 8                                                      422 non-null    float64
 9   Unnamed: 9                                                      422 non-null    float64
 10  Unnamed: 10                                                     422 non-null    float64
 11  Unnamed: 11                                                     422 non-null    float64
 12  Unnamed: 12                                                     422 non-null    float64
 13  Unnamed: 13                                                     422 non-null    float64
 14  Unnamed: 14                                                     422 non-null    float64
 15  Unnamed: 15                                                     422 non-null    float64
 16  Unnamed: 16                                                     422 non-null    float64
 17  Unnamed: 17                                                     422 non-null    float64
 18  Unnamed: 18                                                     422 non-null    float64
 19  Unnamed: 19                                                     422 non-null    float64
dtypes: float64(16), object(4)
memory usage: 66.4+ KB

None

In [5]:
#Reestructuración y limpieza
data_total_dmcs = data_total_dmcs[1:]
data_total_dmcs.columns = data_total_dmcs.iloc[1]
data_total_dmcs = data_total_dmcs[data_total_dmcs['UN_ADMIN'] == 'COMUNA'] 
data_total_dmcs = data_total_dmcs[['UNIDAD', 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0]]
#revisar como eliminar el header del index
data_total_dmcs.reset_index(level=0, inplace=True, drop=True)
data_total_dmcs.rename(columns={'UNIDAD': 'Comuna', 2011.0: '2011', 2012.0: '2012', 2013.0: '2013', 2014.0: '2014', 2015.0: '2015', 2016.0: '2016', 2017.0: '2017', 2018.0: '2018', 2019.0: '2019', 2020.0: '2020'}, inplace=True)
display(data_total_dmcs.head())
display(data_total_dmcs.info())

2,Comuna,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Arica,5750.0,5675.0,5524.0,5127.0,4735.0,4859.0,4303.0,4744.0,5244.0,3953.0
1,Camarones,29.0,34.0,28.0,24.0,19.0,21.0,15.0,24.0,27.0,23.0
2,General Lagos,8.0,3.0,5.0,8.0,10.0,10.0,8.0,7.0,7.0,5.0
3,Putre,30.0,30.0,28.0,34.0,34.0,25.0,27.0,21.0,30.0,14.0
4,Alto Hospicio,3597.0,3581.0,3288.0,2843.0,2924.0,2935.0,2858.0,2640.0,3005.0,2406.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Comuna  346 non-null    object
 1   2011    346 non-null    float64
 2   2012    346 non-null    float64
 3   2013    346 non-null    float64
 4   2014    346 non-null    float64
 5   2015    346 non-null    float64
 6   2016    346 non-null    float64
 7   2017    346 non-null    float64
 8   2018    346 non-null    float64
 9   2019    346 non-null    float64
 10  2020    346 non-null    float64
dtypes: float64(10), object(1)
memory usage: 29.9+ KB

None

In [6]:
#Definición de nuevas columnas
data_total_dmcs['Total delitos'] = data_total_dmcs.sum(axis = 1, numeric_only = True)
data_total_dmcs['Delitos promedio'] = data_total_dmcs['Total delitos'] / len(range(2011, 2021))
#Restricción a las columnas necesarias
data_total_dmcs = data_total_dmcs[['Comuna', 'Total delitos', 'Delitos promedio']]
data_total_dmcs.head()

2         Comuna  Total delitos  Delitos promedio
0          Arica        49914.0            4991.4
1      Camarones          244.0              24.4
2  General Lagos           71.0               7.1
3          Putre          273.0              27.3
4  Alto Hospicio        30077.0            3007.7

In [7]:
#Conjunto de datos II: Calidad de la educación 
display(data_educacion.head())
display(data_educacion.info())

,RBD,DV_RBD,NOM_RBD,RBD_A1,RBD_A2,COD_DEPE,COD_DEPE2,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,...,SUPERAR,INICIAR,MEJORAR,INTEGRAR,IGUALDR,CLUSTER,INDICER,SEL2018_25,SEL2018_35,SEL
0,1,9,LICEO POLITECNICO ARICA,,,2,1,15,151,15101,...,"60,6666808420415","82,7818181818182",50,"64,9166666666667","89,0657124147726",1532,"57,0321656510133",2,2,3
1,2,7,PARVULARIO LAS ESPIGUITAS,,,2,1,15,151,15101,...,"61,8948455474666",0,100,0,"94,5131166035536",1512,"57,2574005472823",2,2,3
2,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,,,2,1,15,151,15101,...,"62,572863863356",0,100,0,"89,9330063340456",1521,"56,0607554545573",2,2,3
3,4,3,LICEO OCTAVIO PALMA PEREZ,,,2,1,15,151,15101,...,"59,2734294365473","93,77",100,"91,6666666666667","96,5992578768044",1532,"70,5080950909242",2,2,3
4,5,1,JOVINA NARANJO FERNANDEZ,,,2,1,15,151,15101,...,"59,1221445752656","97,19","87,5","67,5833333333333","95,7707792670557",1532,"69,8253197490553",2,2,3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11025 entries, 0 to 11024
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RBD             11025 non-null  int64
 1   DV_RBD          11025 non-null  int64
 2   NOM_RBD         11025 non-null  object
 3   RBD_A1          11025 non-null  object
 4   RBD_A2          11025 non-null  object
 5   COD_DEPE        11025 non-null  int64
 6   COD_DEPE2       11025 non-null  int64
 7   COD_REG_RBD     11025 non-null  int64
 8   COD_PRO_RBD     11025 non-null  int64
 9   COD_COM_RBD     11025 non-null  int64
 10  NOM_COM_RBD     11025 non-null  object
 11  COD_DEPROV_RBD  11025 non-null  int64
 12  NOM_DEPROV_RBD  11025 non-null  object
 13  RURAL_RBD       11025 non-null  int64
 14  EFECTIVR        11025 non-null  object
 15  SUPERAR         11025 non-null  object
 16  INICIAR         11025 non-null  object
 17  MEJORAR         11025 non-null  object
 18  INTEGRAR        11025 non-null  object
 19  IGUALDR         11025 non-null  object
 20  CLUSTER         11025 non-null  int64
 21  INDICER         11025 non-null  object
 22  SEL2018_25      11025 non-null  int64
 23  SEL2018_35      11025 non-null  int64
 24  SEL             11025 non-null  int64
dtypes: int64(13), object(12)
memory usage: 2.1+ MB

None

In [8]:
#Reestructuración y limpieza
data_educacion = data_educacion[['NOM_COM_RBD', 'INDICER']]
data_educacion["INDICER"]=data_educacion["INDICER"].str.replace(',', '.').astype(float)
data_educacion.rename(columns={'NOM_COM_RBD': 'Comuna', 'INDICER': 'Calidad Educacion'}, inplace=True)
data_educacion = data_educacion.groupby(by=["Comuna"]).mean()
data_educacion = data_educacion.reset_index()
data_educacion.head()

            Comuna  Calidad Educacion
0        ALGARROBO          58.768497
1            ALHUÉ          64.371385
2      ALTO BIOBÍO          54.109610
3  ALTO DEL CARMEN          58.989017
4    ALTO HOSPICIO          67.169581

In [9]:
data_educacion['Comuna'] = data_educacion['Comuna'].str.title()

In [10]:
data_educacion.head()

            Comuna  Calidad Educacion
0        Algarrobo          58.768497
1            Alhué          64.371385
2      Alto Biobío          54.109610
3  Alto Del Carmen          58.989017
4    Alto Hospicio          67.169581

In [11]:
data_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Comuna             345 non-null    object
 1   Calidad Educacion  345 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.5+ KB

In [12]:
#Conjunto de datos III: Pobreza multidimensional
data_pobreza.head()

,"Estimaciones de Tasa de Pobreza Multidimensional por Comuna, Aplicación de Metodologías de Estimación para Áreas Pequeñas (SAE), 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Código,Región,Nombre comuna,Número de personas en situación de pobreza mul...,Porcentaje de personas en situación de pobreza...,Límite inferior,Límite superior,Metodología de Estimación
2,1101,I de Tarapacá,Iquique,33283,0.197384,0.180161,0.216825,SAE
3,1107,I de Tarapacá,Alto Hospicio,33108,0.275451,0.257526,0.290994,SAE
4,1401,I de Tarapacá,Pozo Almonte,6581,0.388117,0.336295,0.489958,SAE

In [13]:
header_row = 1
data_pobreza.columns = data_pobreza.iloc[header_row]
data_pobreza = data_pobreza[2:]
data_pobreza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 2 to 346
Data columns (total 8 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Código                                                                345 non-null    object
 1   Región                                                                345 non-null    object
 2   Nombre comuna                                                         345 non-null    object
 3   Número de personas en situación de pobreza multidimensional           345 non-null    object
 4   Porcentaje de personas en situación de pobreza multidimensional 2017  345 non-null    object
 5   Límite inferior                                                       324 non-null    object
 6   Límite superior                                                       324 non-null    object
 7   Metodología de Estimación                                             345 non-null    object
dtypes: object(8)
memory usage: 21.7+ KB

In [14]:
data_pobreza = data_pobreza[['Nombre comuna', 'Porcentaje de personas en situación de pobreza multidimensional 2017']]
data_pobreza.rename(columns = {'Nombre comuna': 'Comuna', 'Porcentaje de personas en situación de pobreza multidimensional 2017': 'Porcentaje de pobreza'}, inplace = True)
data_pobreza['Porcentaje de pobreza'] = data_pobreza['Porcentaje de pobreza'] * 100
data_pobreza.head()

1         Comuna Porcentaje de pobreza
2        Iquique             19.738419
3  Alto Hospicio             27.545137
4   Pozo Almonte             38.811721
5         Camiña             51.823161
6       Colchane             63.507166

In [15]:
#Conjunto de datos IV: Información sobre población y superficie comunal.
display(data_comunas.head())
display(data_comunas.info())

,Region,Codigo region,Comuna,Codigo comuna,Superficie_km2,Poblacion
0,Tarapacá,1,Iquique,1101,2289.53,223463.0
1,Tarapacá,1,Alto Hospicio,1107,571.19,129999.0
2,Tarapacá,1,Pozo Almonte,1401,13765.80,17395.0
3,Tarapacá,1,Camiña,1402,2199.83,1375.0
4,Tarapacá,1,Colchane,1403,4007.84,1583.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          346 non-null    object
 1   Codigo region   346 non-null    int64
 2   Comuna          346 non-null    object
 3   Codigo comuna   346 non-null    int64
 4   Superficie_km2  346 non-null    float64
 5   Poblacion       346 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 16.3+ KB

None

In [16]:
#Reestructuración
data_comunas = data_comunas[['Comuna', 'Superficie_km2', 'Poblacion']]
data_comunas.head()

          Comuna  Superficie_km2  Poblacion
0        Iquique         2289.53   223463.0
1  Alto Hospicio          571.19   129999.0
2   Pozo Almonte        13765.80    17395.0
3         Camiña         2199.83     1375.0
4       Colchane         4007.84     1583.0

In [41]:
#Conjunto de datos V: Sobre natalidad anual por comuna
datas_natalidad_total = pd.concat([datas_natalidad[ano] for ano in range(2011,2021)])
datas_natalidad_total
datas_natalidad_total = datas_natalidad_total.groupby(by = 'Comuna').sum()
datas_natalidad_total.reset_index(inplace = True)

               Nacimientos
Comuna
Algarrobo                1
Alto Biobío              5
Alto Hospicio           42
Ancud                  535
Andacollo               43
...                    ...
Yumbel                   4
Yungay                   7
Zapallar                 3
Ñiquén                   2
Ñuñoa                  602

[2628 rows x 1 columns]

In [47]:
display(datas_natalidad_total.head())
display(datas_natalidad_total.info())


#SPOILER: ahora si

            Comuna  Nacimientos
0        Algarrobo           13
1            Alhué            4
2      Alto Biobío           23
3    Alto Hospicio          372
4  Alto del Carmen            4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Comuna       328 non-null    object
 1   Nacimientos  328 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.2+ KB

None

In [48]:
# Data mortalidad
datas_mortalidad_total = pd.concat([datas_mortalidad[ano] for ano in range(2011,2021)])
datas_mortalidad_total
datas_mortalidad_total = datas_mortalidad_total.groupby(by = 'Comuna').sum()
datas_mortalidad_total.reset_index(inplace = True)

In [49]:
display(datas_mortalidad_total.head())
display(datas_mortalidad_total.info())

            Comuna  Codigo region  Codigo comuna  Defunciones
0        Algarrobo           2095        2347238          462
1            Alhué           2262        2349348          179
2      Alto Biobío            880         914540          115
3    Alto Hospicio            986        1091502         1314
4  Alto del Carmen            522         574548          183

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Comuna         337 non-null    object
 1   Codigo region  337 non-null    int64
 2   Codigo comuna  337 non-null    int64
 3   Defunciones    337 non-null    int64
dtypes: int64(3), object(1)
memory usage: 10.7+ KB

None

In [19]:
#Conjunto de datos VI: Número de establecimientos de salud por comuna
display(data_salud.head())
display(data_salud.info())

,Versión 20211029,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Versión 20211029.1,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,Código Antiguo,Código Vigente,Código Madre,Código Nuevo Madre,Código Región,Nombre Región,Código Dependencia Jerárquica (SEREMI / Servic...,Dependencia Jerárquica (SEREMI / Servicio de S...,Pertenencia al SNSS,Tipo Establecimiento,...,Tiene Servicio de Urgencia,Tipo de Urgencia,Tipo de SAPU,LATITUD [Grados decimales],LONGITUD [Grados decimales],Tipo de Prestador Sistema de Salud,Estado de Funcionamiento,Nivel de Complejidad,Modalidad de Atención,NaN
1,26-216,126216,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,12,SEREMI De Magallanes y la Antártica Chilena,No Perteneciente,Centro de Salud,...,NO,No Aplica,No Aplica,-54.93672,-67.61514,Privado,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN
2,26-704,126704,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Hospital,...,SI,Urgencia Hospitalaria (UEH),No Aplica,-54.935209,-67.600393,Público,Vigente en operación,Baja Complejidad,Atención Cerrada-Hospitalaria,NaN
3,26-204,126204,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Hospital,...,SI,Urgencia Hospitalaria (UEH),No Aplica,-54.934374,-67.608895,Pendiente,Vigente en operación,Mediana Complejidad,Atención Cerrada-Hospitalaria,NaN
4,26-412,126412,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Posta de Salud Rural (PSR),...,NO,No Aplica,No Aplica,-53.640546,-69.645848,Público,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4270 entries, 0 to 4269
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Versión 20211029    4270 non-null   object
 1   Unnamed: 1          4270 non-null   object
 2   Unnamed: 2          4270 non-null   object
 3   Unnamed: 3          4270 non-null   object
 4   Unnamed: 4          4270 non-null   object
 5   Unnamed: 5          4270 non-null   object
 6   Unnamed: 6          4270 non-null   object
 7   Unnamed: 7          4270 non-null   object
 8   Unnamed: 8          4270 non-null   object
 9   Versión 20211029.1  4270 non-null   object
 10  Unnamed: 10         4270 non-null   object
 11  Unnamed: 11         4270 non-null   object
 12  Unnamed: 12         4270 non-null   object
 13  Unnamed: 13         4270 non-null   object
 14  Unnamed: 14         4270 non-null   object
 15  Unnamed: 15         4270 non-null   object
 16  Unnamed: 16         4270 non-null   object
 17  Unnamed: 17         4270 non-null   object
 18  Unnamed: 18         4268 non-null   object
 19  Unnamed: 19         4270 non-null   object
 20  Unnamed: 20         4270 non-null   object
 21  Unnamed: 21         4270 non-null   object
 22  Unnamed: 22         4270 non-null   object
 23  Unnamed: 23         4270 non-null   object
 24  Unnamed: 24         4270 non-null   object
 25  Unnamed: 25         4270 non-null   object
 26  Unnamed: 26         4270 non-null   object
 27  Unnamed: 27         4270 non-null   object
 28  Unnamed: 28         4270 non-null   object
 29  Unnamed: 29         4270 non-null   object
 30  Unnamed: 30         4270 non-null   object
 31  Unnamed: 31         11 non-null     float64
dtypes: float64(1), object(31)
memory usage: 1.0+ MB

None

In [20]:
header_row = 0
data_salud.columns = data_salud.iloc[header_row]
data_salud.head()

,Código Antiguo,Código Vigente,Código Madre,Código Nuevo Madre,Código Región,Nombre Región,Código Dependencia Jerárquica (SEREMI / Servicio de Salud),Dependencia Jerárquica (SEREMI / Servicio de Salud),Pertenencia al SNSS,Tipo Establecimiento,...,Tiene Servicio de Urgencia,Tipo de Urgencia,Tipo de SAPU,LATITUD [Grados decimales],LONGITUD [Grados decimales],Tipo de Prestador Sistema de Salud,Estado de Funcionamiento,Nivel de Complejidad,Modalidad de Atención,NaN
0,Código Antiguo,Código Vigente,Código Madre,Código Nuevo Madre,Código Región,Nombre Región,Código Dependencia Jerárquica (SEREMI / Servic...,Dependencia Jerárquica (SEREMI / Servicio de S...,Pertenencia al SNSS,Tipo Establecimiento,...,Tiene Servicio de Urgencia,Tipo de Urgencia,Tipo de SAPU,LATITUD [Grados decimales],LONGITUD [Grados decimales],Tipo de Prestador Sistema de Salud,Estado de Funcionamiento,Nivel de Complejidad,Modalidad de Atención,NaN
1,26-216,126216,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,12,SEREMI De Magallanes y la Antártica Chilena,No Perteneciente,Centro de Salud,...,NO,No Aplica,No Aplica,-54.93672,-67.61514,Privado,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN
2,26-704,126704,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Hospital,...,SI,Urgencia Hospitalaria (UEH),No Aplica,-54.935209,-67.600393,Público,Vigente en operación,Baja Complejidad,Atención Cerrada-Hospitalaria,NaN
3,26-204,126204,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Hospital,...,SI,Urgencia Hospitalaria (UEH),No Aplica,-54.934374,-67.608895,Pendiente,Vigente en operación,Mediana Complejidad,Atención Cerrada-Hospitalaria,NaN
4,26-412,126412,No Aplica,No Aplica,12,Región De Magallanes y de la Antártica Chilena,26,Servicio de Salud Magallanes,Perteneciente,Posta de Salud Rural (PSR),...,NO,No Aplica,No Aplica,-53.640546,-69.645848,Público,Vigente en operación,Baja Complejidad,Atención Abierta-Ambulatoria,NaN

In [21]:
data_salud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4270 entries, 0 to 4269
Data columns (total 32 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Código Antiguo                                              4270 non-null   object
 1   Código Vigente                                              4270 non-null   object
 2   Código  Madre                                               4270 non-null   object
 3   Código Nuevo Madre                                          4270 non-null   object
 4   Código Región                                               4270 non-null   object
 5   Nombre Región                                               4270 non-null   object
 6   Código Dependencia Jerárquica (SEREMI / Servicio de Salud)  4270 non-null   object
 7   Dependencia Jerárquica (SEREMI / Servicio de Salud)         4270 non-null   object
 8   Pertenencia al SNSS                                         4270 non-null   object
 9   Tipo Establecimiento                                        4270 non-null   object
 10  Ámbito de Funcionamiento                                    4270 non-null   object
 11  Nombre Oficial                                              4270 non-null   object
 12  Certificación                                               4270 non-null   object
 13  Dependencia Administrativa                                  4270 non-null   object
 14  Nivel de Atención                                           4270 non-null   object
 15  Código Comuna                                               4270 non-null   object
 16  Nombre Comuna                                               4270 non-null   object
 17  Vía                                                         4270 non-null   object
 18  Número                                                      4268 non-null   object
 19  Dirección                                                   4270 non-null   object
 20  Teléfono                                                    4270 non-null   object
 21  Fecha Inicio Funcionamiento                                 4270 non-null   object
 22  Tiene Servicio de Urgencia                                  4270 non-null   object
 23  Tipo de Urgencia                                            4270 non-null   object
 24  Tipo de SAPU                                                4270 non-null   object
 25  LATITUD      [Grados decimales]                             4270 non-null   object
 26  LONGITUD [Grados decimales]                                 4270 non-null   object
 27  Tipo de Prestador Sistema de Salud                          4270 non-null   object
 28  Estado de Funcionamiento                                    4270 non-null   object
 29  Nivel de Complejidad                                        4270 non-null   object
 30  Modalidad de Atención                                       4270 non-null   object
 31  nan                                                         11 non-null     float64
dtypes: float64(1), object(31)
memory usage: 1.0+ MB

In [22]:
data_salud_aux = data_salud[['Nombre Comuna']]
data_salud_aux['Recintos Salud'] = 1
data_salud_aux = data_salud_aux.groupby(by = 'Nombre Comuna').count().reset_index()
data_salud_aux.rename(columns = {'Nombre Comuna': 'Comuna'}, inplace = True)
display(data_salud_aux.head())
display(data_salud_aux.info())

C:\Users\Larry\AppData\Local\Temp/ipykernel_7964/746527415.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_salud_aux['Recintos Salud'] = 1

0         Comuna  Recintos Salud
0          Aisén              10
1      Algarrobo               4
2          Alhué               7
3    Alto Biobío              10
4  Alto Hospicio              14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Comuna          351 non-null    object
 1   Recintos Salud  351 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.6+ KB

None

In [23]:
# PRUEBAS DE FUNCIONAMIENTO DE MERGE
data_1 = pd.merge(left = data_comunas, right = data_salud_aux, how = 'inner', on = 'Comuna')

In [24]:
data_2 = data_1.merge(data_educacion, how = 'inner', on = 'Comuna')

In [25]:
data_3 = data_2.merge(data_total_dmcs, how = 'inner', on = 'Comuna')

In [26]:
data_3

,Comuna,Superficie_km2,Poblacion,Recintos Salud,Calidad Educacion,Total delitos,Delitos promedio
0,Iquique,2289.53,223463.0,57,63.766553,70695.0,7069.5
1,Alto Hospicio,571.19,129999.0,14,67.169581,30077.0,3007.7
2,Pozo Almonte,13765.80,17395.0,7,59.544838,3810.0,381.0
3,Camiña,2199.83,1375.0,4,60.775655,93.0,9.3
4,Colchane,4007.84,1583.0,6,55.567736,240.0,24.0
...,...,...,...,...,...,...,...
309,Concepción,220.20,238092.0,72,69.747057,99115.0,9911.5
310,Chiguayante,71.40,91180.0,7,69.230923,13550.0,1355.0
311,Hualpén,53.77,97273.0,17,69.575893,18841.0,1884.1
312,Hualqui,535.85,26201.0,5,62.482600,4168.0,416.8
313,Río Verde,9147.57,211.0,1,62.930238,28.0,2.8

In [27]:
data_4 = data_3.merge(data_pobreza, how = 'inner', on = 'Comuna')
data_4.head()

,Comuna,Superficie_km2,Poblacion,Recintos Salud,Calidad Educacion,Total delitos,Delitos promedio,Porcentaje de pobreza
0,Iquique,2289.53,223463.0,57,63.766553,70695.0,7069.5,19.738419
1,Alto Hospicio,571.19,129999.0,14,67.169581,30077.0,3007.7,27.545137
2,Pozo Almonte,13765.80,17395.0,7,59.544838,3810.0,381.0,38.811721
3,Camiña,2199.83,1375.0,4,60.775655,93.0,9.3,51.823161
4,Colchane,4007.84,1583.0,6,55.567736,240.0,24.0,63.507166

In [28]:
data_4.corr()['Delitos promedio']

Superficie_km2      -0.009789
Poblacion            0.919223
Recintos Salud       0.792114
Calidad Educacion    0.207613
Total delitos        1.000000
Delitos promedio     1.000000
Name: Delitos promedio, dtype: float64

In [29]:
data_4['Porcentaje de pobreza'] = data_4['Porcentaje de pobreza'].astype(float)

In [30]:
data_4.corr()['Delitos promedio']

Superficie_km2          -0.009789
Poblacion                0.919223
Recintos Salud           0.792114
Calidad Educacion        0.207613
Total delitos            1.000000
Delitos promedio         1.000000
Porcentaje de pobreza   -0.361547
Name: Delitos promedio, dtype: float64

In [31]:
data_4['Poblacion por km2'] = data_4['Poblacion'] /  data_4['Superficie_km2']
data_4.corr()

,Superficie_km2,Poblacion,Recintos Salud,Calidad Educacion,Total delitos,Delitos promedio,Porcentaje de pobreza,Poblacion por km2
Superficie_km2,1.000000,0.002744,0.122878,-0.121941,-0.009789,-0.009789,-0.070460,-0.142488
Poblacion,0.002744,1.000000,0.750579,0.232120,0.919223,0.919223,-0.346052,0.479282
Recintos Salud,0.122878,0.750579,1.000000,0.142861,0.792114,0.792114,-0.280587,0.218814
Calidad Educacion,-0.121941,0.232120,0.142861,1.000000,0.207613,0.207613,-0.498465,0.125791
Total delitos,-0.009789,0.919223,0.792114,0.207613,1.000000,1.000000,-0.361547,0.541891
Delitos promedio,-0.009789,0.919223,0.792114,0.207613,1.000000,1.000000,-0.361547,0.541891
Porcentaje de pobreza,-0.070460,-0.346052,-0.280587,-0.498465,-0.361547,-0.361547,1.000000,-0.179146
Poblacion por km2,-0.142488,0.479282,0.218814,0.125791,0.541891,0.541891,-0.179146,1.000000

In [32]:
data_4['Delitos por habitante'] = data_4['Delitos promedio'] / data_4['Poblacion']
data_4.corr()['Delitos por habitante']

Superficie_km2           0.026886
Poblacion                0.417342
Recintos Salud           0.435693
Calidad Educacion        0.145338
Total delitos            0.558112
Delitos promedio         0.558112
Porcentaje de pobreza   -0.378739
Poblacion por km2        0.368514
Delitos por habitante    1.000000
Name: Delitos por habitante, dtype: float64

In [33]:
data_4.head()

,Comuna,Superficie_km2,Poblacion,Recintos Salud,Calidad Educacion,Total delitos,Delitos promedio,Porcentaje de pobreza,Poblacion por km2,Delitos por habitante
0,Iquique,2289.53,223463.0,57,63.766553,70695.0,7069.5,19.738419,97.602128,0.031636
1,Alto Hospicio,571.19,129999.0,14,67.169581,30077.0,3007.7,27.545137,227.593270,0.023136
2,Pozo Almonte,13765.80,17395.0,7,59.544838,3810.0,381.0,38.811721,1.263639,0.021903
3,Camiña,2199.83,1375.0,4,60.775655,93.0,9.3,51.823161,0.625048,0.006764
4,Colchane,4007.84,1583.0,6,55.567736,240.0,24.0,63.507166,0.394976,0.015161